$fontfamily: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;

.edit-post-layout__content {
  *:focus,
  input,
  input:focus,
  textarea,
  textarea:focus {
    background: transparent;
    outline: 0 !important;
    outline: none !important;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none !important;
  }

  @import
    '../../../node_modules/bootstrap/scss/bootstrap',
    'gutenberg/editor',
    'gutenberg/main',
    'wireframe/main',
    // 'frontend/main',
    'media/main',
    'blocks/main';
    // 'components/main';
}

.components-panel {
  @import 'gutenberg/sidebar';
}
