@import
  '../../../node_modules/bootstrap/scss/bootstrap';

$fontfamily: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;

*:focus,
textarea:focus,
input:focus{
  outline: 0 !important;
  outline: none !important;
}

.frontendberg,
.editor-block-list__layout {
  @import
    'wireframe/main',
    'frontend/main',
    'media/main',
    'blocks/main',
    'components/main';
}

.block-editor {
  @import
  '../../../node_modules/bootstrap/scss/type.scss',
  'gutenberg/main';
}
