.banner-one {
  .col {
    padding-left: 0;
    padding-right: 0;
  }

  .row {
    flex-direction: column;
    margin-right: 0;
    margin-left: 0;
  }

  .superscript {
    position: absolute;
    width: 75px;

    ~ .col {
      padding-left: 75px;

      h3, .h3 {
        height: 45px;
        line-height: 60px;
      }
    }
  }
}
