.banner-preview {
  > .row {
    flex-direction: row;
    flex-wrap: nowrap;

    > .col {
      flex: 0 0 50%;
    }

    // Get Preview to only show 66% of device
    align-items: flex-end;
  }

  .group-content {
    flex-direction: column;
  }

  .group-media {
    // Get Preview to only show 66% of device
    margin-bottom: 0;
    margin-left: -60px;

    .col {
      flex: auto;
    }
  }

  &:nth-child(odd) {
    flex-direction: row;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;

    .group-media {
      direction: rtl;
    }
  }
}
