[class^='banner-'], [class*=' banner-'] {
  .group-media {
    border-bottom: 1px solid #ccc;
    margin-bottom: -45px;

    .col {
      flex: 0 0 50%;
      overflow: hidden;
    }
  }

  .superscript {
    h5, .h5 {
      display: none;
      visibility: hidden;
    }
  }
}

@import
  'styles/banner-one',
  'styles/banner-two',
  'styles/banner-preview';
