section {
  overflow: hidden;
  padding: 32px 0;

  ~ section:nth-of-type(even) {
    background-color: #FAFAFA;
  }

  .container {
    max-width: 832px;
    width: 100%;
  }

  .group-content {
    width: 100%;
    z-index: 1;
  }

  .group-media {
    z-index: 0;
  }
}
