[class^='banner-'], [class*=' banner-'] {
  align-items: initial;
  padding: 0;

  > .row {
    > .col {
      padding-bottom: 0;
      padding-top: 0;

      // 1 Columns
      &:first-child:last-child {
        .superscript {
          flex-basis: 0;
        }
      }

      // 2 Columns
      &:first-child:nth-last-child(2),
      &:first-child:nth-last-child(2) ~ .col {
        &:first-child {
          border-right: 1px solid #CCC;
          padding-right: 0;
        }
        &:last-child {
          padding-left: 0;
        }
      }
    }
  }

  .group-content {
    flex-direction: column;
  }

  .superscript {
    align-items: flex-start;
    flex-grow: 0;
    z-index: 2;

    figure {
      margin: 0;
    }

    h5, textarea {
      display: none;
      visibility: hidden;
    }
  }
}

.banner-one {
  .superscript {
    position: absolute;
    width: 96px;

    ~ .col {
      padding-left: 96px;

      h3, .h3 {
        margin-top: 15px;
      }
    }
  }
}

.banner-two {
  .superscript {
    ~ .col {
      padding-left: 96px;

      &:last-child {
        padding-top: 15px;
        padding-left: 15px;
      }
    }
  }
}

.banner-preview {
  > .row {
    align-items: center;
    flex-wrap: nowrap;

    > .col {
      flex: 0 0 50%;

      // 2 Columns
      &:first-child:nth-last-child(2),
      &:first-child:nth-last-child(2) ~ .col {
        &:first-child {
          border-right: none;
        }
      }
    }
  }

  &:nth-child(even) {
    > .row {
      flex-direction: row-reverse;

      > .col {
        // 2 Columns
        &:first-child:nth-last-child(2),
        &:first-child:nth-last-child(2) ~ .col {
          &:first-child {
            padding-left: 0;
            padding-right: 15px;
          }
          &:last-child {
            padding-left: 15px;
            padding-right: 0;
          }
        }
      }
    }

    .group-media {
      direction: rtl;
    }
  }

  .device-iphone {
    &.portrait {
      margin: 0 -10px;
    }
  }

  .group-media {
    border-bottom: 1px solid #ccc;
    overflow: hidden;
  }
}
