[class^='intro-'], [class*=' intro-'],
[class^='layout-'], [class*=' layout-'] {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background: pink;

  .col {
    z-index: 1;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

@import
  'intro-one',
  'layout-one',
  'layout-two',
  'layout-three';
