img {
  border: 0;
}

figure {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
  text-align: center;
  z-index: 0;

  // Button for Adding Media
  button {
    &.button-large,
    &.components-button {
      background: transparent !important;
      border: 0;
      box-shadow: none;
      font-size: 0;
      height: 100%;
      margin: auto;
      left: 0;
      position: absolute;
      right: 0;
      width: 100%;
      z-index: 2;

      &:not(:disabled):not([aria-disabled=true]):focus {
        background: transparent !important;
      }
    }

    img {
      margin-top: 0 !important;
    }
  }

  &.placeholder {
    &::after {
      content: '';
      background-color: #f1f1f1;
      background-image: url("../media/images/media-placeholder.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }
  }

  &.media-icon {
    display: block;
    height: 64px;
    margin: 0 16px 0 0;
    min-height: 64px;
    min-width: 64px;
    padding: 0 !important;
    position: relative;
    width: auto;

    button.button-large {
      left: 0;
      height: 64px;

      span {
        left: -22px;
        top: 0;
      }
    }

    img {
      height: 64px;
    }

    & ~ .editor-rich-text {
      float: left;
      line-height: 64px;
    }

    &.placeholder {
      &::after {
        align-items: center;
        border-radius: 16px;
        content: 'ICON';
        display: flex;
        font-size: 12px;
        height: 64px;
        justify-content: center;
        width: 64px;
      }
    }
  }

  &.device-ipad {
    background-image: url("../media/images/ipad-space-gray.png");
    // height: 718px;
    left: 50%;
    position: relative;
    transform: translate(-50%,0);
    // width: 980px;
    button {
      &.button-large,
      &.components-button {
        height: 556px;
        margin-left: 108px;
        margin-top: 50px;
        width: 742px;
      }
    }

    img {
      height: 556px;
      margin-left: -24px;
      margin-top: 50px;
      width: 742px;
    }

    span {
      left: -28px;
      top: 0;

      &.remove {
        left: 80px;
        top: 50px;
      }
    }

    &.placeholder {
      &::after {
        align-items: center;
        content: "742 x 556px";
        display: flex;
        height: 556px;
        justify-content: center;
        top: 40px;
        width: 742px;
        margin-left: 108px;
        margin-top: 10px;
      }
    }
  }

  &.device-iphone {
    background-image: url("../media/images/iphone-space-gray.png");
    height: 446px;
    left: 50%;
    position: relative;
    transform: translate(-50%,0);
    width: 818px;

    button {
      &.button-large,
      &.components-button {
        height: 316px;
        margin-left: 50px;
        margin-top: 35px;
        width: 683px;
      }
    }

    img {
      height: 316px;
      margin-top: 35px;
      margin-left: -35px;
      width: 683px;
    }

    span {
      left: -24px;
      top: -24px;
    }

    .gutenberg-update-item {
      span {
        left: 26px;
        top: 11px;
      }
    }

    &.placeholder {
      &::after {
        align-items: center;
        border-radius: 32px;
        content: '683 x 316px';
        display: flex;
        height: 316px;
        justify-content: center;
        margin-left: 50px;
        margin-top: 35px;
        width: 683px;
      }
    }
  }

  &.device-macbook {
    background-image: url("../media/images/macbook-gray.png");
    height: 576px;
    left: 50%;
    position: relative;
    transform: translate(-50%,0);
    width: 992px;

    button {
      &.button-large,
      &.components-button {
        height: 460px;
        margin-top: 40px;
        width: 735px;
      }

      span {
        &.add {
          left: -22px;
          top: 0;
        }
      }
    }

    img {
      height: 460px;
      margin-top: 40px;
      width: 735px;
    }

    .gutenberg-update-item {
      height: 460px;
      width: 735px;

      .remove {
        left: -22px;
        top: 36px;
      }
    }

    &.placeholder {
      &::after {
        align-items: center;
        content: '735 x 460';
        display: flex;
        height: 460px;
        justify-content: center;
        top: 40px;
        width: 735px;
      }
    }
  }
}
