.components {
  &-panel {
    &__row {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &-toggle {
    &-control {
      margin: 0;

      .components-base-control__field {
        margin: 0;
      }
    }
  }
}
