.components {

  &-base-control {
    margin: 0 0 5px !important;
    width: 100%;
  }

  &-panel__row {
    align-items: flex-start;
    flex-direction: column;
  }

  // RADIO OPTIONS
  &-radio-control__option {
    float: left;
  }

  // SELECT DROPDOWN
  &-select-control__input {
    width: 100%;
  }

  // LABELS
  &-form-toggle,
  &-radio-control__input {
    margin-right: 10px !important;
  }
}
