.gutenberg-update-item {
  position: absolute;

  button {
    &, &:focus, &:hover {
      background: transparent;
      border: 0;
      box-shadow: none;
    }
  }

  span {
    color: #999;
    cursor: pointer;
    font-size: 16px;
    left: -20px;
    line-height: 16px;
    opacity: .48;
    position: absolute;
    top: -20px;

    &:hover {
      opacity: 1;
    }
  }

  .add {
    & :hover {
      color: #78b955;
    }
  }

  .drag {
    & :hover {
      color: #449dd8;
    }
  }

  .remove {
    & :hover {
      color: #d04643;
    }
  }
}

// app/library/styles/components/_superscript.scss
// .superscript {
//   .gutenberg-update-item {
//     span {
//       left: -24px;
//     }
//
//     .add {
//       display: none;
//     }
//   }
// }
