.editor-block-list__layout .editor-block-list__block {
  max-width: none;
  padding: 0;
}

.editor-styles-wrapper {
  font-family: $fontfamily;

  button, input, textarea {
    background: transparent;
    margin: 0;
    padding: 0;
  }
}

@import
  'update';
