<section>
	<div class="container intro-XXX">
		<div class="row group-content">

			<!-- SUPERSCRIPT -->
			<div class="col superscript">
				<figure class="media-icon placeholder">
					<img alt="" class="img-fluid" src="">
				</figure>
				<h5>Deserunt Mollit</h5>
			</div>
			<!-- END | SUPERSCRIPT -->

			<div class="col">
				<h2>Culpa Qui Oficia</h2>
			</div>
			<div class="col">
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam.</p>
				<a href="#" class="">Ut enim ad minim</a>
			</div>
		</div>
	</div>
</section>
