$icon-height: 64px;
$icon-width: 64px;

.media-icon {
  height: $icon-height;
  margin: 0 16px 0 0;
  min-width: $icon-width;
  width: auto;

  img {
    height: $icon-height;
  }

  &.placeholder {
    &::after {
      border-radius: 16px;
      content: 'ICON';
      height: $icon-height;
      width: $icon-width;
    }
  }

  .gutenberg-update-item {
    button {
      height: $icon-height;
      width: $icon-width;
    }

    span {
      left: -15px;
      top: -15px;
    }
  }
}
