$icon-height: 60px;
$icon-width: 60px;

.media-icon {
  height: $icon-height;
  margin: 0 15px 0 0;
  min-width: $icon-width;
  width: auto;

  img {
    height: $icon-height;
  }

  &.placeholder {
    &::after {
      border-radius: ($icon-height * .25);
      content: 'ICON';
      font-size: 12px;
      height: $icon-height;
      line-height: $icon-height;
      width: $icon-width;
    }
  }

  .gutenberg-update-item {
    button {
      height: $icon-height;
      width: $icon-width;
    }

    span {
      left: -15px;
      top: -15px;
    }
  }
}
