$ipad-height: 490px;
$ipad-width: 660px;

.device-ipad {
  background-image: url('../media/images/ipad-space-gray.png');
  height: 590px;
  margin: 0 -85px;
  width: 920px;

  img {
    height: $ipad-height;
    width: $ipad-width;
  }

  .gutenberg-update-item {
    button {
      height: $ipad-height;
      width: $ipad-width;
    }

    span {
      left: -30px;
      top: -30px;
    }
  }

  &.placeholder {
    &::after {
      content: '660 x 490';
      height: $ipad-height;
      width: $ipad-width;
    }
  }

  &.portrait {
    background-image: url('../media/images/ipad-space-gray-portrait.png');
    height: 745px;
    margin: 0 -15px;
    width: 615px;

    img {
      height: $ipad-width;
      width: $ipad-height;
    }

    &.placeholder {
      &::after {
        content: '490 x 660';
        height: $ipad-width;
        width: $ipad-height;
      }
    }

    .gutenberg-update-item {
      button {
        height: $ipad-width;
        width: $ipad-height;
      }
    }
  }
}
