.device-ipad {
  background-image: url('../media/images/ipad-space-gray.png');
  height: 615px;
  width: 920px;

  img {
    height: 490px;
    width: 660px;
  }

  &.placeholder {
    &::after {
      content: '660 x 490';
      height: 490px;
      width: 660px;
    }
  }

  &.landscape {
    margin: 0 -75px;
  }

  &.portrait {
    background-image: url('../media/images/ipad-space-gray-portrait.png');
    height: 790px;
    width: 615px;

    img {
      height: 660px;
      width: 490px;
    }

    &.placeholder {
      &::after {
        content: '490 x 660';
        height: 660px;
        width: 490px;
      }
    }
  }
}
