.device-iphone {
  background-image: url('../media/images/iphone-space-gray.png');
  height: 420px;
  width: 625px;

  img {
    height: 250px;
    width: 550px;
  }

  &.landscape {
    margin: -40px 0;
  }

  &.placeholder {
    &::after {
      content: '(W) 550 x (H) 250';
      height: 250px;
      width: 550px;
    }
  }

  &.portrait {
    background-image: url('../media/images/iphone-space-gray-portrait.png');
    height: 625px;
    margin: 0 -40px;
    width: 420px;

    img {
      height: 550px;
      width: 250px;
    }

    &.placeholder {
      &::after {
        content: '(W) 250 x (H) 550';
        height: 550px;
        width: 250px;
      }
    }
  }
}
