$iphone-height: 235px;
$iphone-width: 510px;

.device-iphone {
  // background-image: url('../media/images/iphone-space-gray.png');
  height: 385px;
  margin: -35px 0;
  width: 585px;

  img {
    height: $iphone-height;
    width: $iphone-width;
  }

  .gutenberg-update-item {
    button {
      height: $iphone-height;
      width: $iphone-width;
    }
  }

  &::after {
    content: '(W) 510 x (H) 235';
    height: $iphone-height;
    width: $iphone-width;
  }

  &::before {
    background-image: url('../media/images/iphone-space-gray.png');
    height: 385px;
    width: 585px;
  }

  &.portrait {
    // background-image: url('../media/images/iphone-space-gray-portrait.png');
    height: 590px;
    // margin: 0 -35px;
    margin: 0 auto;
    width: 390px;

    img {
      height: $iphone-width;
      width: $iphone-height;
    }

    &::after {
      content: '(W) 235 x (H) 510';
      height: $iphone-width;
      width: $iphone-height;
    }

    &::before {
      background-image: url('../media/images/iphone-space-gray-portrait.png');
      height: 590px;
      width: 390px;
    }

    .gutenberg-update-item {
      button {
        height: $iphone-width;
        width: $iphone-height;
      }
    }
  }
}
