.device-iphone {
  background-image: url('../media/images/iphone-space-gray.png');
  height: 390px;
  width: 590px;

  img {
    height: 235px;
    width: 510px;
  }

  &.landscape {
    margin: -35px 0;
  }

  &.placeholder {
    &::after {
      content: '(W) 510 x (H) 235';
      height: 235px;
      width: 510px;
    }
  }

  &.portrait {
    background-image: url('../media/images/iphone-space-gray-portrait.png');
    height: 590px;
    margin: 0 -35px;
    width: 390px;

    img {
      height: 510px;
      width: 235px;
    }

    &.placeholder {
      &::after {
        content: '(W) 235 x (H) 510';
        height: 510px;
        width: 235px;
      }
    }
  }
}
