.device-macbook {
  background-image: url('../media/images/macbook-space-gray.png');
  height: 640px;
  margin: -35px -75px -15px;
  width: 960px;

  img {
    height: 440px;
    width: 700px;
  }

  &.placeholder {
    &::after {
      content: '(W) 700 x (H) 440';
      height: 440px;
      width: 700px;
    }
  }
}
