$macbook-height: 440px;
$macbook-width: 700px;

.device-macbook {
  background-image: url('../media/images/macbook-space-gray.png');
  height: 635px;
  margin: -35px -75px -15px;
  width: 955px;

  img {
    height: $macbook-height;
    width: $macbook-width;
  }

  &::after {
    content: '(W) 700 x (H) 440';
    height: $macbook-height;
    width: $macbook-width;
  }

  .gutenberg-update-item {
    button {
      height: $macbook-height;
      width: $macbook-width;
    }

    span {
      left: -40px;
      top: -40px;
    }
  }
}
