img {
  border: 0;
}

figure {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
  text-align: center;
  z-index: 0;

  align-items: center;
  display: flex;
  justify-content: center;

  &.placeholder {
    &::after {
      background-color: #f1f1f1;
      background-image: url('../media/images/media-placeholder.svg');
      position: absolute;
    }

    img {
      display: none;
    }
  }

  .gutenberg-update-item {
    z-index: 0;
    // z-index: 1;

    button {
      opacity: 0;
    }

    span {
      position: absolute;
    }
  }
}

[class^='device-'], [class*=' device-'] {
  img {
    z-index: -1;
  }

  &::after {
    align-items: center;
    background-color: #191e23;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    content: '';
    direction: ltr;
    display: flex;
    font-size: 12px;
    justify-content: center;
    position: absolute;
    z-index: -2;
  }
}

@import
  'icons',
  'ipad',
  'iphone',
  'macbook';
